{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/auth/style.css' %}">
{% endblock %}

{% block content %}

<section class="ftco-section">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="wrap">
                    <div class="img" style="background-image: url({% static 'images/bg-2.jpg' %});"></div>
                    <div class="login-wrap p-4 p-md-5">
                <div class="d-flex">
                    <div class="w-100">
                        <h3 class="mb-4">Sign Up</h3>
                    </div>
                        
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                </p>
                            </div>
                </div>
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                        <form method="POST" class="signin-form">
                            {% csrf_token %}
                    <div class="form-group mt-3">
                        <input type="text" name="username" id="id_username" class="form-control" maxlength="150" required>
                        <label class="form-control-placeholder" for="username">Username</label>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" name="email" id="id_email" class="form-control" required>
                        <label class="form-control-placeholder" for="email">Email</label>
                    </div>
                <div class="form-group">
                    <input id="password-field" name="password" id="id_password" type="password" class="form-control" required>
                    <label class="form-control-placeholder" for="password">Password</label>
                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                </div>
                {% if form.errors %}
                    <p>{{ form.errors }}</p>
                {% endif %}
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign Up</button>
                </div>
                <div class="form-group d-md-flex">
                    <div class="w-50 text-left">
                        <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                                    <input type="checkbox" checked>
                                    <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="#">Forgot Password</a>
                                </div>
                </div>
                </form>
                <p class="text-center">Not a member? <a data-toggle="tab" href="#signup">Sign In</a></p>
            </div>
            </div>
            </div>
        </div>
    </div>
</section>

<!-- 
<form method="POST">
    {% csrf_token %}
    <p>{{ form.as_p }}</p>
<button class="btn btn-primary">Sign Up</button>
</form> -->

{% endblock %}

{% block script %}
    <script src="{% static 'js/auth/main.js' %}"></script>
{% endblock %}

	






