{% extends 'base.html' %}

{% load static %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="card-header text-dark card-title display-6 text-center">Tags</div>
                    <div class="card-body text-body text-center">
                        {% for tag in tags %}
                            {{tag}}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-header text-dark card-title display-6 text-center">Questions</div>
                    <div class="card-body text-body text-center">
                        {% for question in questions %}
                            {{question}}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}