[run]

source = authentication/, passwords/, questions/, users/
omit=
    forumvenv
    */migrations/*
    */tests/*
    */media/*
    */media_cdn/*
    */static/*
    */static_cdn/*
    */__init__.py

