.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-dark);
  border-radius: 0px;
  border-bottom-color: var(--bs-gray);
}

.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  margin: 5px 0px 5px 0px;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}



