{% extends 'base.html' %}

{% block content %}



 <div class="row">
<div class="col-md-6">
    <div class="card card-body">

        {% for message in messages %}
            <p id="messages" class="">{{ message }}</p>
        {% endfor %}

        <form action="" method="POST" enctype="multipart/form-data">

            {% csrf_token %}
            <div class="my-3">
            {{ form.first_name }}
            </div>

            <div class="my-3">
            {{ form.middle_name }}
            </div>

            <div class="my-3">
            {{ form.last_name }}
            </div>

            <div class="my-3">
            {{ form.email }}
            </div>

            <div class="my-3">
            {{ form.birthdate }}
            </div>

            <div class="my-3">
            {{ form.bio }}
            </div>

       <button class="btn btn-primary" type="submit">Save changes</button>

    </div>
</div>

<div class="col-md-6">
    <div class="card card-body">
        <img src="{{ request.user.userprofile.profile_image.url }}" alt="{{ request.user.userprofile }}'s picture" class="rounded-circle" width="200">
        <hr>

        <h6 class="text-center">Gender</h6>
        {{ form.gender }}

        <button class="btn btn-primary"><input type="file" name="profile_picture" accept="image/*" id="id_profile_picture">Change Picture</button>
        
        </form>
    </div>
</div>

</div>







<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <p>{{form.error}}</p>
    <p>{{ form.as_p }}</p>
<button class="btn btn-primary">Edit</button>
</form>
{% endblock %}
