{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block navbar %}
	{% include 'navbar.html' %}
{% endblock %}

{% block navbarstylesheet %}
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}

{% block content %}

	<style>
    .profile-pic {
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
        border-radius: 100px;
    }
    ul {
        list-style-type: none;
    }
</style>

<div class="mx-2 my-3">
  <div class="row gutters-sm">

		<div class="col-md-3">
			<div class="card card-body"> 
	        <h3 class="text-center">Total Posts</h3>
	        <hr>
	        <h4 class="text-center"> {{ user.question_set.all.count }} </h4>
	       	<br>
	        <h3 class="text-center">Date Joined</h3>
	        <hr>
	        <h5 class="text-center text-muted text-capitalize">{{ user.user.date_joined | naturalday }}</h4>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card card-body">
    			<div class="d-flex flex-column align-items-center text-center">
            		<img src="{{ user.profile_image.url }}" alt="{{ user }} photo" height="150" width="150" style="border-radius: 100px;">
            		<div class="mt-3">
                		<h4 class="text-capitalize">{{ user }}</h4>
		                <p class="text-secondary mb-1 text-break">{{ user.bio }}</p>
		                <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
		                <button class="btn btn-primary">Follow</button>
		                <button class="btn btn-outline-primary">Message</button>
            		</div>
          		</div>
        	</div>
    	</div>

    	<div class="col-md-5">
    		<div class="card mb-3">
    			<div class="card-body">

        			<div class="row">
            			<div class="col-sm-3">
            				<h6 class="mb-0">Full Name</h6>
            			</div>
            			<div class="col-sm-9 text-secondary text-capitalize">{{ user }}</div>
        			</div>

        			<hr>

        			<div class="row">
            			<div class="col-sm-3">
            				<h6 class="mb-0">Email</h6>
            			</div>
            			<div class="col-sm-9 text-secondary">{{ user.email }}</div>
        			</div>

        			<hr>

        			<div class="row">
            			<div class="col-sm-3">
            				<h6 class="mb-0">Birthdate</h6>
            			</div>
            			<div class="col-sm-9 text-secondary">{{ user.birthdate }}</div>
        			</div>

          			<hr>

          			<div class="row">
            			<div class="col-sm-3">
              				<h6 class="mb-0">Gender</h6>
            			</div>
            			<div class="col-sm-9 text-secondary">{{ user.gender }}</div>
          			</div>

          			<hr>

          			<div class="row">
            			<div class="col-sm-3">
              				<h6 class="mb-0">Address</h6>
            			</div>
            			<div class="col-sm-9 text-secondary">Bay Area, San Francisco, CA</div>
          			</div>

          		</div>
          	</div>
        </div>

	</div>
</div>
        
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"><a href="#custom-modal" class="btn btn-custom waves-effect waves-light mb-4" data-animation="fadein" data-plugin="custommodal" data-overlayspeed="200" data-overlaycolor="#36404a"><i class="mdi mdi-plus"></i> Add Member</a></div>
            <!-- end col -->
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-lg-4">
                <div class="text-center card-box">
                    <div class="member-card pt-2 pb-2">
                        <div class="thumb-lg member-thumb mx-auto"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="">
                            <h4>Freddie J. Plourde</h4>
                            <p class="text-muted">@Founder <span>| </span><span><a href="#" class="text-pink">websitename.com</a></span></p>
                        </div>
                        <ul class="social-links list-inline">
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                        </ul>
                        <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Message Now</button>
                        <div class="mt-4">
                            <div class="row">
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4>2563</h4>
                                        <p class="mb-0 text-muted">Wallets Balance</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4>6952</h4>
                                        <p class="mb-0 text-muted">Income amounts</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4>1125</h4>
                                        <p class="mb-0 text-muted">Total Transactions</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="text-center card-box">
                    <div class="member-card pt-2 pb-2">
                        <div class="thumb-lg member-thumb mx-auto"><img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="">
                            <h4>Julie L. Arsenault</h4>
                            <p class="text-muted">@Programmer <span>| </span><span><a href="#" class="text-pink">websitename.com</a></span></p>
                        </div>
                        <ul class="social-links list-inline">
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                        </ul>
                        <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Message Now</button>
                        <div class="mt-4">
                            <div class="row">
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4>8471</h4>
                                        <p class="mb-0 text-muted">Wallets Balance</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4>8512</h4>
                                        <p class="mb-0 text-muted">Income amounts</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4>4751</h4>
                                        <p class="mb-0 text-muted">Total Transactions</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-4">
                <div class="text-center card-box">
                    <div class="member-card pt-2 pb-2">
                        <div class="thumb-lg member-thumb mx-auto"><img src="https://bootdey.com/img/Content/avatar/avatar4.png" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                        <div class="">
                            <h4>Christopher Gallardo</h4>
                            <p class="text-muted">@Webdesigner <span>| </span><span><a href="#" class="text-pink">websitename.com</a></span></p>
                        </div>
                        <ul class="social-links list-inline">
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                        </ul>
                        <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Message Now</button>
                        <div class="mt-4">
                            <div class="row">
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4>1021</h4>
                                        <p class="mb-0 text-muted">Wallets Balance</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4>4562</h4>
                                        <p class="mb-0 text-muted">Income amounts</p>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mt-3">
                                        <h4>3621</h4>
                                        <p class="mb-0 text-muted">Total Transactions</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
    </div>
    <!-- container -->
</div>



{% endblock %}
