{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        {% block stylesheet %}

        {% endblock %}
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/auth/style.css' %}"> -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Forum</title>
        
        </head>
    <body>
        <style>
            .main {
                max-height: 100vh;
                height: 100%;
            }
        </style>
        <div class="main"></div>
            <header>
                {% block navbar %}

                {% endblock %}
            </header>
        
            {% block content %}

            {% endblock %}
        </div>
    
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/popper.js' %}"></script>
        <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>

        {% block script %}

        {% endblock %}
    </body>
</html>



























