{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}

<div class="header-blue">
  <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
      <div class="container">
          <a class="navbar-brand" href="{% url 'questions:home' %}">Forum</a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="{% url 'questions:ask' %}">Ask</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Dropdown </a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="#">First Item</a>
                            <a class="dropdown-item" role="presentation" href="#">Second Item</a>
                            <a class="dropdown-item" role="presentation" href="#">Third Item</a>
                        </div>
                  </li>
              </ul> 
              <form class="form-inline mr-auto" onsubmit="return executeQuery();">
                  <div class="form-group">
                      <label for="search-field">
                          <i class="fa fa-search"></i>
                        </label>
                        <input class="form-control search-field" type="search" name="x" id="search-field">
                    </div>
              </form>
              {% if request.user.is_unauthenticated %}
                <span class="navbar-text"><a href="{% url 'authentication:signin' %}" class="login">Sign In</a></span>
                <a class="btn btn-light action-button" role="button" href="{% url 'authentication:signup' %}">Sign Up</a>
              {% else %}
              <a class="btn btn-light action-button" role="button" href="{% url 'users:edit_profile' request.user.pk %}">Profile</a>
              {% endif %}
            </div>
      </div>
  </nav>
  
</div>







<div class="b-example-divider"></div>

<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div>
    </div>
  </div>
</header>

<div class="b-example-divider"></div>

















































<script type="text/javascript">
  function executeQuery(){
    var query = document.getElementById("search-field").value;
    if (query == ""){
      query = document.getElementById("search-field").value;
    }
    window.location.replace("{% url 'questions:search_results' %}?x=" + query)
    return false
  }
</script>