{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/auth/style.css' %}">
{% endblock %}

{% block content %}
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="wrap">
						<div class="img" style="background-image: url({% static 'images/bg-2.jpg' %});"></div>
						<div class="login-wrap p-4 p-md-5">
							<div class="d-flex">
								<div class="w-100">
									<h3 class="mb-4">Password reset</h3>
								</div>
							</div>
							<div>
								Forgotten your password?😓<br> Enter your email address below, and we’ll email instructions for setting a new one.😀
							</div> 
							<form method="POST" class="signin-form">
								{% csrf_token %}
	<!-- The view of this is not so functional; browse about django password change view and modify it! -->
									<div class="form-group mt-4">
										<input class="form-control" name="email" type="email" id="id_email" required>
										<label class="form-control-placeholder" for="email">Email</label>
										<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
									</div>

									<div class="form-group">
										<button type="submit" class="form-control btn btn-primary rounded submit px-3">Reset My Password</button>
									</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}


{% block script %}
    <script src="{% static 'js/auth/main.js' %}"></script>
{% endblock %}


