{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/auth/style.css' %}">
{% endblock %}

{% block content %}
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="wrap">
                        <div class="img" style="background-image: url({% static 'images/bg-2.jpg' %});"></div>
                        <div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Change Password</h3>
                                </div>
                            </div>
                    
                            <form method="POST" class="signin-form">
                                {% csrf_token %}
<!-- The view of this is not so functional; browse about django password change view and modify it! -->
                                    <div class="form-group mt-4">
										<input name="old_password" type="password" id="id_old_password" required class="form-control">
                                        <label class="form-control-placeholder" for="old_password">Old Password</label>
                                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                    </div>

									{{ form.errors.old_password }}

									<div class="form-group mt-4">
										<input name="new_password1" type="password" id="id_new_password1" required class="form-control">
                                        <label class="form-control-placeholder" for="new_password1">New Password</label>
                                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                    </div>

									{{ form.errors.new_password1 }}

									<div class="form-group mt-4">
										<input name="new_password2" type="password" id="id_new_password2" required class="form-control">
                                        <label class="form-control-placeholder" for="new_password2">Confirm Password</label>
                                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                    </div>
                                  
									{{ form.errors.new_password2 }}

                                    <div class="form-group">
                                        <button type="submit" class="form-control btn btn-primary rounded submit px-3">Update Password</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script src="{% static 'js/auth/main.js' %}"></script>
{% endblock %}

	
































<style type="text/css">
	.form-signin {
		width:  100%;
		max-width: 330px;
		padding: 15px;
		margin: auto;
	}
	.form-signin .checkbox {
		font-weight: 400;
	}
	.form-signin .form-control {
		position: relative;
		box-sizing: border-box;
		height: auto;
		padding: 10px;
		font-size: 16px;
	}
	.form-signin .form-control:focus {
		z-index: 2;
	}
	.form-signin input[type="password"] {
		margin-bottom: 10px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	.h3 {
		text-align: center;
	}
</style>

<form id="id_password_change_form" method="POST" class="form-signin">
	{% csrf_token %}
	<h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
	<input name="old_password" placeholder="Old Password" type="password" id="id_old_password" required class="form-control">

	<input name="new_password1" placeholder="New Password" type="password" id="id_new_password1" required class="form-control">
	
	<input name="new_password2" placeholder="Confirm Password" type="password" id="id_new_password2" required class="form-control">

	{% for field in form %}
		{% for error in field.errors %}
			<p style="color: red;">{{ error }}</p>
		{% endfor %}
	{% endfor %}

	<button id="id_submit_btn" class="btn btn-lg btn-primary btn-block">Update Password</button>

</form>

